.carousel-wrapper {
  overflow: hidden;
  width: 100%;
  margin-top: 5%;
}

.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.highlighted {
  display: block;
}

.slide {
  display: none;
}

.backArrow {

  transform: translate(-100%,45%);
}
.nextArrow {
  transform: translate(100%, 45%);
}

.autoplay-checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}